<%- include("partials/header.ejs")%>
<div class="container mt-5">
  <div class="row justify-content-start">
    <div class="col-md-6">
      <h1 class="text">Bienvenido al Chat Online, <%= username %>!</h1>
      <h2 class="text">Color asignado: <%= color %></h2>
      <a href="/logout" class="btn btn-primary">Cerrar sesión</a>
    </div>
    <div class="col-md-6">
      <form id="message-form"class="text-center">
        <div class="input-group mb-3">
          <input
            type="text"
            id="message-input"
            class="form-control"
            style="width: 30%"
            placeholder="Escribe un mensaje..."
            autocomplete="off"
            required
          />
          <button type="submit" class="btn btn-primary">Enviar</button>
        </div>
      </form>
      <div id="messages" class="mt-4"></div>
    </div>
  </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/public/chat.js"></script>

<%- include("partials/footer.ejs")%>
