<%- include("partials/header.ejs")%>
<div class="container mt-5">
  <div class="row justify-content-start">
    <div class="col-md-6">
      <h1 class="text">Bienvenido al Chat Online, <%= username %>!</h1>
      <h2 class="text">Color asignado: <%= color %></h2>
      <a href="/logout" class="btn btn-primary">Cerrar sesión</a>
    </div>
    <div class="col-md-6">
      <form id="message-form" onsubmit="sendMessage(event)" class="text-center">
        <div class="input-group mb-3">
          <input
            type="text"
            id="message-input"
            class="form-control"
            style="width: 30%"
            placeholder="Escribe un mensaje..."
            autocomplete="off"
            required
          />
          <button type="submit" class="btn btn-primary">Enviar</button>
        </div>
      </form>
      <div id="messages" class="mt-4"></div>
    </div>
  </div>
</div>

<!-- Agregar enlace a Bootstrap JS (opcional) -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>

<script src="/socket.io/socket.io.js"></script>
<script>
  const socket = io();
  const messagesDiv = document.getElementById("messages");
  const messageForm = document.getElementById("message-form");
  const messageInput = document.getElementById("message-input");

  // Función para enviar un mensaje al servidor
  function sendMessage(event) {
    event.preventDefault();
    const message = messageInput.value;
    socket.emit("chatMessage", message);
    messageInput.value = "";
  }

  // Función para agregar un mensaje al chat
  function addMessage(message, color) {
    const messageElement = document.createElement("div");
    messageElement.classList.add("message");
    messageElement.style.color = color;
    messageElement.textContent = message;
    messagesDiv.appendChild(messageElement);
  }

  // Evento cuando se recibe un nuevo mensaje del servidor
  socket.on("chatMessage", (data) => {
    addMessage(data.message, data.color);
  });
</script>
<%- include("partials/footer.ejs")%>
